.navbar {
    font-family: var(--nav-font); 
    display: flex;
    align-items: center;
    padding:0 5rem ;
    position: relative;
    /* background-color: lightblue; */
}

.navbar__logo {
    flex: 1;
}
/* mobile menu icon---------------------- */
.navbar__mobilemenuicon {
    display: none;
    font-size:1.6rem ;
    cursor: pointer;
}
.navbar__mobilemenuicon .closeicon {
    font-size:2.2rem ;
}
/* ---------- */
/* MENU --------------------------------------
---------------------------------- */

.navbar__menu {
    display: flex;
    align-items: center;
    height: 8rem;
    /* background-color: palevioletred;  */
}

.navbar__menu-item {
    margin-left: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    position: relative;
    /* background-color: #fdde52; */
}
.navbar__menu-item a{
    color: rgba(0, 0, 0, 0.968);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: 0.2s all;
}
.navbar__menu-item a:hover {
    color: var(--clr-primary);
}
.navbar__menu-item:first-child a{
    color: var(--clr-primary);
}
.navbar__menu-item span {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.navbar__menu-item span .icon {
   align-self: flex-start;
   font-size: 0.9rem;
   margin-left:0.3rem ;
   margin-bottom: 0.2rem;
}
.navbar__menu-item button {
    padding: 0.8rem 1rem;
    background-color: var(--clr-primary);
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 0.78rem;
    letter-spacing: 0.8px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s all;
}
.navbar__menu-item button:hover {
    background-color: #fdde52;
    color: black;
}
/* MEDIA QUERIES --------------------------
------------------------------------------
------------------------------------------ */
@media(max-width:1250px) {
    .navbar{
        padding: 0 2rem;
    }
        .navbar__menu-item a {
            font-size: 0.75rem;
        }
                .navbar__menu-item {
                    margin-left: 0.5rem;
                }
}

@media(max-width:1092px) {
    .navbar__mobilemenuicon {
        display: block;
    }
    .navbar__menu {
        display: none;
    }
    .navbar {
        padding-top: 1rem;
        /* padding-bottom: 1rem; */
    }
}

